
.nameSearch
  font-size: aCalc(24)
  line-height: aCalc(32)
  font-weight: 700
  background-color: #f3f0f7
  padding: aCalc(16) aCalc(24)
  border-radius: aCalc(8)
  margin-bottom: aCalc(40)
  +mob($sm)
    margin-bottom: 24px
    padding: 16px 24px
    font-size: 20px
    line-height: 28px
    border-radius: 8px
  input 
    font-size: inherit
    line-height: inherit
    font-weight: inherit
    background-color: transparent
    width: 100%
    display: inline-block