.contentBlock
  display: flex
  flex-direction: column
  &__top 
    div, form
      border-bottom: 1px solid var(--text-color)
      height: aCalc(80)
      display: flex
      justify-content: space-between
      align-items: center
      gap: aCalc(24)
      padding: 0 aCalc(300)
      height: aCalc(100)
      +mob($sm)
        height: auto
        padding: 14px 20px
        flex-direction: column
        gap: 10px
  &__middle
    padding: aCalc(40) aCalc(120) 0
    height: 100%
    display: flex
    justify-content: space-between
    +mob($sm)
      padding: 20px 12px
      flex-direction: column
    .listApi
      display: grid
      grid-template-columns: repeat(3, 1fr)
      gap: aCalc(20)
      +mob($sm)
        display: flex
        flex-direction: column
        gap: 14px
        height: 29vh
        overflow-y: scroll
      &__clue 
        text-align: center
      &._information
        display: flex
        flex-direction: column
        gap: aCalc(10)
        padding: aCalc(20)
        border-radius: aCalc(4)
        margin-left: aCalc(20)
        border: 1px solid var(--text-color)
        &._preload
          opacity: 0
          &._active 
            opacity: 1
        +mob($sm)
          margin-left: unset
          margin-top: 20px
          border-radius: 4px
          padding: 16px
          gap: 16px
        .listApi__el-info
          border: none
        .pagination 
          +mob($sm)
            flex-direction: column
            width: 100%
            gap: 16px
        li 
          cursor: unset
          &:hover
            background-color: initial
            p, span 
              color: initial
      li 
        transition: background-color .3s
        padding: aCalc(8)
        border-radius: aCalc(6)
        cursor: pointer
        border: 1px solid var(--text-color)
        +mob($sm)
          padding: 8px
          border-radius: 6px
        &:hover
          background-color: #2C56C2
          p, span 
            color: #ffffff
        p, span 
          transition: color .3s
        label 
          display: inline-flex
          align-items: center
          cursor: pointer
          user-select: none
          font-size: 16px
          color: #333
        input 
          position: absolute
          opacity: 0
          width: 0
          height: 0
          z-index: 100
          &:checked + span 
            background-color: #007BFF
            border-color: #007BFF
            position: relative
          &:checked + span::after  
            content: ""
            position: absolute
            left: 5px
            top: 1px
            width: 5px
            height: 10px
            border: solid white
            border-width: 0 2px 2px 0
            transform: rotate(45deg)
        span.input-control
          width: 18px
          height: 18px
          border: 2px solid #666
          border-radius: 4px
          margin-right: 8px
          box-sizing: border-box
          transition: background-color 0.3s, border-color 0.3s
          &:hover 
            border-color: red
      &__el-info 
        display: flex
        gap: aCalc(10)
        +mob($sm)
          gap: 14px
        p
          font-weight: 700
          font-size: aCalc(14)
          +mob($sm)
            font-size: 14px
        span 
          font-size: aCalc(14)
          +mob($sm)
            font-size: 14px
      h2 
        margin-bottom: 0
        font-size: aCalc(22)
        line-height: aCalc(28)
        color: var(--text-color)
        +mob($sm)
          font-size: 18px
          line-height: 24px
      div
        font-size: aCalc(16)
        line-height: aCalc(22)
        +mob($sm)
          font-size: 14px
          line-height: 18px