
.flyoutElement 
  position: fixed
  padding: aCalc(16)
  right: aCalc(16)
  bottom: aCalc(16)
  width: aCalc(400)
  height: aCalc(200)
  background-color: var(--background-color)
  border-radius: aCalc(6)
  border: 1px solid var(--text-color)
  opacity: 0
  transform: translateX(100%)
  transition: opacity .3s, transform .3s
  z-index: 1
  +mob($sm)
    width: 100%
    height: unset
    bottom: 0
    left: 0
    right: 0
    margin: 0 auto
    padding: 8px
    border-radius: 6px
  &._active 
    opacity: 1
    transform: translateX(0)
  &__wrapper 
    display: flex
    flex-wrap: wrap
    gap: aCalc(20)
    +mob($sm)
      gap: 10px
  p, h2 
    color: var(--text-color)
    width: 100%
    margin-bottom: aCalc(20)
    +mob($sm)
      margin-bottom: 10px
  &-download 
    @extend .searchBtn !optional
  &-unselect
    @extend .searchBtn !optional 