
.countries
  border-bottom: aCalc(2) solid #d4bdf3
  padding-bottom: aCalc(4)
  border: aCalc(2) solid transparent
  transition: border-color .3s
  &._animation 
    border: aCalc(2) solid #2C56C2
  h2 
    display: flex
    gap: aCalc(20)
    p 
      font-weight: 400
  table 
    margin-top: aCalc(20)