
.form
  position: relative
  width: aCalc(1000)
  height: auto 
  padding: aCalc(16) aCalc(20)
  border-radius: aCalc(6)
  background-color: #ffffff
  &__close 
    position: absolute
    top: aCalc(16)
    right: aCalc(16)
    cursor: pointer
    border: none
    width: aCalc(20)
    height: aCalc(20)
    img, svg 
      width: 100% 
      height: 100% 
      object-fit: cover